#.minecraft/saves/Greenfield v0.5.3
#.minecraft/resourcepacks
#.minecraft/shaderpacks
#.minecraft/mods
.minecraft/saves/Greenfield v0.5.3/data
#.minecraft/saves/Greenfield v0.5.3/DIM1
#.minecraft/saves/Greenfield v0.5.3/DIM-1
#.minecraft/saves/Greenfield v0.5.3/stats
#.minecraft/saves/Greenfield v0.5.3/poi
.minecraft/saves/Greenfield v0.5.3/region